<div class="container">
  <div class="fs-header">
    <button mat-icon-button matTooltip="Back" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Home" (click)="goHome()">
      <mat-icon>home</mat-icon>
    </button>

    <fs-filter class="fs-header__filter"></fs-filter>

    <button mat-icon-button matTooltip="Update" (click)="update()">
      <mat-icon>cached</mat-icon>
    </button>
  </div>

  <div class="fs-files">

    <div class="fs-files__list">
      <fs-file-wrapper>
        <ng-container *ngIf="files | fsFilter:(filter$ | async) as filtered">
          <fs-file-item
            *ngFor="let file of filtered"
            [file]="file"
            (click)="enter(file.name)"
            (onDelete)="deleteFile($event)">
          </fs-file-item>

          <div *ngIf="filtered.length === 0">
            <h3>Files is not found</h3>
          </div>
        </ng-container>
      </fs-file-wrapper>
    </div>

    <div class="fs-files__chart">
      <div class="chart__wrapper">
        <app-charts-polar
          class="chart"
          [labels]="labels"
          [data]="data">
        </app-charts-polar>
      </div>

    </div>

  </div>

</div>
