<div class="container">
  <div class="fs-header">
    <button mat-icon-button matTooltip="Back" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <fs-filter></fs-filter>
  </div>

  <fs-file-wrapper>
    <ng-container *ngIf="files | fsFilter:(filter$ | async) as filtered">
      <fs-file-item
        *ngFor="let file of filtered"
        [file]="file"
        (click)="enter(file.name)">
      </fs-file-item>

      <div *ngIf="filtered.length === 0">
        <h3>Files is not found</h3>
      </div>
    </ng-container>
  </fs-file-wrapper>
</div>
