
<div class="container">
  <div class="fs-header">
    <button mat-icon-button matTooltip="Back" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <mat-form-field>
      <mat-label>Searching...</mat-label>
      <input matInput type="text" autocomplete="off">
    </mat-form-field>
  </div>
  <fs-file-wrapper>

    <ng-container *ngIf="files$ | async as files">
      <fs-file-item
        *ngFor="let file of files.list"
        [file]="file"
        (click)="enter(file.name)"
      >
      </fs-file-item>
    </ng-container>

  </fs-file-wrapper>
</div>
